@import '../variables.styl'

.view.modal
  z-index            1001
  padding            25px
  border             3px solid BLACK
  border-radius      6px
  background-color   WHITE
  display            inline-block
  position           fixed
  cursor             default

  &.draggable
    .modal-title
      cursor         move

  .modal-close
    position         absolute
    top              20px
    right            20px
    z-index          1002
    cursor           pointer
    color            DARK_GREY

  .modal-title
    font-size        24px
    margin-bottom    14px

  .modal-content
    font-size        16px
    margin-bottom    22px

  .buttons-container
    text-align       right
    .button
      margin-right   12px

  &.dark
    background-color LIGHT_BLACK
    color            WHITE
