@import url("http://fonts.googleapis.com/css?family=Cabin:400,500,600,700");
body{font-family:'Cabin',sans-serif}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;height:100%}
body{margin:0;padding:0;width:100%;height:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
b,strong{font-weight:bold}
h1{font-size:2em;margin:.67em 0}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,pre{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.view{position:relative}
.view.draggable{position:absolute;cursor:move}
.view.overlay{position:fixed;top:0;left:0;z-index:1000;width:100%;height:100%;background:rgba(0,0,0,0.5)}
.button{border:none;padding:15px 30px;font-size:16px;color:#fff;border-radius:6px;}
.button:focus{outline:0}
.button.big{padding:21px 42px;font-size:18px}
.button.small{padding:10px 20px;font-size:14px}
.button.flat{border-radius:0}
.button.rounded{border-radius:50px}
.button.blue{background-color:#68abce;}
.button.blue:hover{background-color:#5393b5}
.button.blue:active{background-color:#68abce}
.button.blue.light{background-color:#7abfe3;}
.button.blue.light:hover{background-color:#68abce}
.button.blue.light:active{background-color:#7abfe3}
.button.blue.dark{background-color:#5393b5;}
.button.blue.dark:hover{background-color:#68abce}
.button.blue.dark:active{background-color:#5393b5}
.button.green{background-color:#2ea998;}
.button.green:hover{background-color:#249285}
.button.green:active{background-color:#2ea998}
.button.green.light{background-color:#49c6b7;}
.button.green.light:hover{background-color:#2ea998}
.button.green.light:active{background-color:#49c6b7}
.button.green.dark{background-color:#249285;}
.button.green.dark:hover{background-color:#2ea998}
.button.green.dark:active{background-color:#249285}
.button.yellow{background-color:#d8c171;}
.button.yellow:hover{background-color:#c8b150}
.button.yellow:active{background-color:#d8c171}
.button.yellow.light{background-color:#e7d38f;}
.button.yellow.light:hover{background-color:#d8c171}
.button.yellow.light:active{background-color:#e7d38f}
.button.yellow.dark{background-color:#c8b150;}
.button.yellow.dark:hover{background-color:#d8c171}
.button.yellow.dark:active{background-color:#c8b150}
.button.red{background-color:#d97563;}
.button.red:hover{background-color:#c05846}
.button.red:active{background-color:#d97563}
.button.red.light{background-color:#e59f93;}
.button.red.light:hover{background-color:#d97563}
.button.red.light:active{background-color:#e59f93}
.button.red.dark{background-color:#c05846;}
.button.red.dark:hover{background-color:#d97563}
.button.red.dark:active{background-color:#c05846}
.button.grey{background-color:#c6ccd2;}
.button.grey:hover{background-color:#b4bbc1}
.button.grey:active{background-color:#c6ccd2}
.button.grey.light{background-color:#dee2e7;}
.button.grey.light:hover{background-color:#c6ccd2}
.button.grey.light:active{background-color:#dee2e7}
.button.grey.dark{background-color:#b4bbc1;}
.button.grey.dark:hover{background-color:#c6ccd2}
.button.grey.dark:active{background-color:#b4bbc1}
.button.black{background-color:#383837;}
.button.black:hover{background-color:#262626}
.button.black:active{background-color:#383837}
.button.black.light{background-color:#494949;}
.button.black.light:hover{background-color:#383837}
.button.black.light:active{background-color:#494949}
.button.black.dark{background-color:#262626;}
.button.black.dark:hover{background-color:#383837}
.button.black.dark:active{background-color:#262626}
.button.outline{background-color:transparent !important;}
.button.outline.blue{color:#68abce;border:1px solid #68abce;}
.button.outline.blue:hover{color:#5393b5;border:1px solid #5393b5}
.button.outline.blue:active{color:#68abce;border:1px solid #68abce}
.button.outline.blue.light{color:#7abfe3;border:1px solid #7abfe3;}
.button.outline.blue.light:hover{color:#68abce;border:1px solid #68abce}
.button.outline.blue.light:active{color:#7abfe3;border:1px solid #7abfe3}
.button.outline.blue.dark{color:#5393b5;border:1px solid #5393b5;}
.button.outline.blue.dark:hover{color:#68abce;border:1px solid #68abce}
.button.outline.blue.dark:active{color:#5393b5;border:1px solid #5393b5}
.button.outline.green{color:#2ea998;border:1px solid #2ea998;}
.button.outline.green:hover{color:#249285;border:1px solid #249285}
.button.outline.green:active{color:#2ea998;border:1px solid #2ea998}
.button.outline.green.light{color:#49c6b7;border:1px solid #49c6b7;}
.button.outline.green.light:hover{color:#2ea998;border:1px solid #2ea998}
.button.outline.green.light:active{color:#49c6b7;border:1px solid #49c6b7}
.button.outline.green.dark{color:#249285;border:1px solid #249285;}
.button.outline.green.dark:hover{color:#2ea998;border:1px solid #2ea998}
.button.outline.green.dark:active{color:#249285;border:1px solid #249285}
.button.outline.yellow{color:#d8c171;border:1px solid #d8c171;}
.button.outline.yellow:hover{color:#c8b150;border:1px solid #c8b150}
.button.outline.yellow:active{color:#d8c171;border:1px solid #d8c171}
.button.outline.yellow.light{color:#e7d38f;border:1px solid #e7d38f;}
.button.outline.yellow.light:hover{color:#d8c171;border:1px solid #d8c171}
.button.outline.yellow.light:active{color:#e7d38f;border:1px solid #e7d38f}
.button.outline.yellow.dark{color:#c8b150;border:1px solid #c8b150;}
.button.outline.yellow.dark:hover{color:#d8c171;border:1px solid #d8c171}
.button.outline.yellow.dark:active{color:#c8b150;border:1px solid #c8b150}
.button.outline.red{color:#d97563;border:1px solid #d97563;}
.button.outline.red:hover{color:#c05846;border:1px solid #c05846}
.button.outline.red:active{color:#d97563;border:1px solid #d97563}
.button.outline.red.light{color:#e59f93;border:1px solid #e59f93;}
.button.outline.red.light:hover{color:#d97563;border:1px solid #d97563}
.button.outline.red.light:active{color:#e59f93;border:1px solid #e59f93}
.button.outline.red.dark{color:#c05846;border:1px solid #c05846;}
.button.outline.red.dark:hover{color:#d97563;border:1px solid #d97563}
.button.outline.red.dark:active{color:#c05846;border:1px solid #c05846}
.button.outline.grey{color:#c6ccd2;border:1px solid #c6ccd2;}
.button.outline.grey:hover{color:#b4bbc1;border:1px solid #b4bbc1}
.button.outline.grey:active{color:#c6ccd2;border:1px solid #c6ccd2}
.button.outline.grey.light{color:#dee2e7;border:1px solid #dee2e7;}
.button.outline.grey.light:hover{color:#c6ccd2;border:1px solid #c6ccd2}
.button.outline.grey.light:active{color:#dee2e7;border:1px solid #dee2e7}
.button.outline.grey.dark{color:#b4bbc1;border:1px solid #b4bbc1;}
.button.outline.grey.dark:hover{color:#c6ccd2;border:1px solid #c6ccd2}
.button.outline.grey.dark:active{color:#b4bbc1;border:1px solid #b4bbc1}
.button.outline.black{color:#383837;border:1px solid #383837;}
.button.outline.black:hover{color:#262626;border:1px solid #262626}
.button.outline.black:active{color:#383837;border:1px solid #383837}
.button.outline.black.light{color:#494949;border:1px solid #494949;}
.button.outline.black.light:hover{color:#383837;border:1px solid #383837}
.button.outline.black.light:active{color:#494949;border:1px solid #494949}
.button.outline.black.dark{color:#262626;border:1px solid #262626;}
.button.outline.black.dark:hover{color:#383837;border:1px solid #383837}
.button.outline.black.dark:active{color:#262626;border:1px solid #262626}
.input.text,.input.password{font-size:16px;color:#383837;border-radius:5px;border:2px solid #c6ccd2;padding:10px 12px;box-sizing:border-box;}
.input.text.big,.input.password.big{padding:16px}
.input.text.success,.input.password.success,.input.text.valid,.input.password.valid{border-color:#2ea998}
.input.text.error,.input.password.error,.input.text.fail,.input.password.fail{border-color:#d97563}
.input.text.has-text,.input.password.has-text{border-color:#68abce}
.input.text::-webkit-input-placeholder,.input.password::-webkit-input-placeholder,.input.text::-moz-placeholder,.input.password::-moz-placeholder,.input.text:-ms-input-placeholder,.input.password:-ms-input-placeholder{color:#c6ccd2}
.input.text:focus,.input.password:focus{border-color:#68abce;outline:0}
.toggle-switch .checkbox{position:absolute;margin-left:-9999px;visibility:hidden;}
.toggle-switch .checkbox + label{display:block;position:relative;cursor:pointer;outline:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;padding:2px;width:72px;height:36px;box-sizing:border-box;background-color:#c6ccd2;border-radius:60px;transition:background .4s}
.toggle-switch .checkbox + label:before,.toggle-switch .checkbox + label:after{display:block;position:absolute;content:''}
.toggle-switch .checkbox + label:before{top:2px;left:2px;bottom:2px;right:2px;background-color:#fff;border-radius:60px;transition:background .4s}
.toggle-switch .checkbox + label:after{top:4px;left:4px;bottom:4px;width:28px;background-color:#c6ccd2;border-radius:28px;transition:margin .4s,background .4s}
.toggle-switch .checkbox:checked + label{background-color:#2ea998}
.toggle-switch .checkbox:checked + label:after{margin-left:36px;background-color:#2ea998;content:''}
.toggle-switch.solid .checkbox + label:before{background-color:#c6ccd2}
.toggle-switch.solid .checkbox + label:after{background-color:#fff}
.toggle-switch.solid .checkbox:checked + label:before{background-color:#2ea998}
.toggle-switch.blue .checkbox:checked + label,.toggle-switch.blue .checkbox:checked + label:after{background-color:#68abce}
.toggle-switch.blue.solid .checkbox:checked + label:after{background-color:#fff}
.toggle-switch.blue.solid .checkbox:checked + label:before{background-color:#68abce}
.toggle-switch.red .checkbox:checked + label,.toggle-switch.red .checkbox:checked + label:after{background-color:#d97563}
.toggle-switch.red.solid .checkbox:checked + label:after{background-color:#fff}
.toggle-switch.red.solid .checkbox:checked + label:before{background-color:#d97563}
.toggle-switch.yellow .checkbox:checked + label,.toggle-switch.yellow .checkbox:checked + label:after{background-color:#d8c171}
.toggle-switch.yellow.solid .checkbox:checked + label:after{background-color:#fff}
.toggle-switch.yellow.solid .checkbox:checked + label:before{background-color:#d8c171}
.toggle-switch.black .checkbox:checked + label,.toggle-switch.black .checkbox:checked + label:after{background-color:#383837}
.toggle-switch.black.solid .checkbox:checked + label:after{background-color:#fff}
.toggle-switch.black.solid .checkbox:checked + label:before{background-color:#383837}
.combobox{display:inline-block;position:relative;background-color:#2ea998;color:#fff;border-radius:4px;width:180px;cursor:default;margin:50px;}
.combobox.menu-visible{border-radius:4px 4px 0 0}
.combobox .title{padding:10px 20px 9px;font-size:15px;user-select:none;-webkit-user-select:none}
.combobox .arrow{position:absolute;top:0;right:0;cursor:pointer;padding:9px 14px}
.combobox .goog-menuitem{background-color:#249285;cursor:pointer;padding:5px 20px;font-size:14px;}
.combobox .goog-menuitem:first-child{padding-top:10px}
.combobox .goog-menuitem:last-child{padding-bottom:10px}
.combobox .goog-menu{max-height:240px;overflow-y:auto;border-radius:0 0 4px 4px;position:absolute;width:100%;z-index:20}
.combobox.blue{background-color:#68abce;}
.combobox.blue .goog-menuitem{background-color:#5393b5}
.combobox.yellow{background-color:#d8c171;}
.combobox.yellow .goog-menuitem{background-color:#c8b150}
.view.modal{z-index:1001;padding:25px;border:3px solid #383837;border-radius:6px;background-color:#fff;display:inline-block;position:fixed;}
.view.modal .modal-title{font-size:24px;margin-bottom:14px}
.view.modal .modal-content{font-size:16px;margin-bottom:22px}
.view.modal .buttons-container{text-align:right;}
.view.modal .buttons-container .button{margin-right:12px}
.view.modal.dark{background-color:#494949;color:#fff}
.sign-up-widget{width:300px;background:#f2f5f8;border-radius:6px;position:relative;}
.sign-up-widget img{border-radius:6px 6px 0 0;width:460px;height:144px}
.sign-up-widget a{text-decoration:none;font-size:14px;}
.sign-up-widget a.forgot-password{color:#c6ccd2;text-align:center;display:block;margin:12px 0 29px 0}
.sign-up-widget a.already-registered{color:#68abce;position:absolute;top:17px;right:17px}
.sign-up-widget input{margin:0 30px;width:240px;}
.sign-up-widget input.password{margin-top:24px}
.sign-up-widget .title{color:#383837;font-size:16px;text-transform:uppercase;margin:17px 0 23px 22px;font-weight:600;float:left}
.sign-up-widget button{width:240px;margin:0 30px 30px 30px}
.sign-up-widget.with-image{width:460px;}
.sign-up-widget.with-image .title{font-size:32px;color:#fff;text-align:center;position:absolute;text-transform:uppercase;width:100%;line-height:144px;top:0;margin:0}
.sign-up-widget.with-image .forgot-password{margin:12px 0 19px 0}
.sign-up-widget.with-image input{width:400px;}
.sign-up-widget.with-image input.text{margin-top:30px}
.sign-up-widget.with-image .already-registered{color:#fff}
.sign-up-widget.with-image button{width:400px;margin:0 30px 30px 30px}
