h3{margin-left:20px}
.form{margin:20px;width:450px}
.labeled-input{margin-bottom:10px;}
.labeled-input label{width:175px;display:inline-block;}
.labeled-input label.small{width:398px;top:-6px}
.labeled-input input.text{width:275px}
.labeled-input .combobox{width:275px}
.labeled-input .toggle-switch{display:inline-block}
.buttons-container{text-align:right}
