h3{margin-left:20px}
.form{margin:20px;width:395px}
.labeled-input{margin-bottom:10px;}
.labeled-input label{width:120px;display:inline-block}
.labeled-input input.text{width:275px}
.labeled-input input.checkbox{margin-right:5px}
.labeled-input .checkbox + .label{width:350px}
.labeled-input .combobox{width:275px}
.buttons-container{text-align:right}
