{namespace spark.templates}


/**
 * Template for profile card items.
 */
{template .profileCard}
    <div class="{css profileCard}">
        <div class="{css avatar}">
            <img src="http://www.gravatar.com/avatar/e19a01a82b1d5452bb05ce2fc10c5789?s=48" />
        </div>
    </div>
{/template}