// COLORS

WHITE         = #FFF

LIGHT_RED     = #E59F93
LIGHT_GREEN   = #49C6B7
LIGHT_BLUE    = #7ABFE3
LIGHT_YELLOW  = #E7D38F
LIGHT_GREY    = #DEE2E7
LIGHT_BLACK   = #494949


RED           = #D97563
GREEN         = #2EA998
BLUE          = #68ABCE
YELLOW        = #D8C171
GREY          = #C6CCD2
BLACK         = #383837


DARK_RED      = #C05846
DARK_GREEN    = #249285
DARK_BLUE     = #5393B5
DARK_YELLOW   = #C8B150
DARK_GREY     = #B4BBC1
DARK_BLACK    = #262626


// FONTS
FONT_FAMILY   = 'Cabin', sans-serif
FONT_NORMAL   = 400
FONT_MEDIUM   = 500
FONT_SEMIBOLD = 600
FONT_BOLD     = 700
